$color_body: #888888;
$color_links: #ff0082;
$color_links-hover: #ff0082;
$color_post-titles: #ff0082;
$color_meta: #2201C7;
$color_meta-links: #2201C7;

// Fonts
$font_primary: 'Raleway', Helvetica, Arial, sans-serif;
$font_secondary: 'Raleway', 'Raleway', Helvetica, Arial, sans-serif;

$font_body: $font_primary;
$font_body-weight: normal;